@model IEnumerable<CMS.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostPrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content.ContentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostPrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content.ContentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
