@model CMS.Models.Picture

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Picture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PicTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PicUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PicAltText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicAltText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PicDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicDesc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PicPrio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicPrio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.CatName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CatName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
