@model CMS.Models.Category

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.CatName)
@foreach (var video in Model.Videos)
{
    //@text.TextData
    //@video.VidDesc

    @Html.Partial("_VideoPartial", video)
}

@foreach (var text in Model.Texts)
{
    
    @Html.Partial("_TextPartial", text)
}

@foreach (var link in Model.Links)
{
    
    @Html.Partial("_LinkPartial", link)
}

@foreach (var picture in Model.Pictures)
{
    
    @Html.Partial("_PicturePartial", picture)
}


        </td>
    </tr>

</table>
