@model CMS.Models.Link

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Link</legend>

        @Html.HiddenFor(model => model.LinkID)

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkTitle)
            @Html.ValidationMessageFor(model => model.LinkTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkUrl)
            @Html.ValidationMessageFor(model => model.LinkUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkText)
            @Html.ValidationMessageFor(model => model.LinkText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkPrio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkPrio)
            @Html.ValidationMessageFor(model => model.LinkPrio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CatID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CatID", String.Empty)
            @Html.ValidationMessageFor(model => model.CatID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
