@model CMS.Models.SiteConfig

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SiteConfig</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteName)
            @Html.ValidationMessageFor(model => model.SiteName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteDesc)
            @Html.ValidationMessageFor(model => model.SiteDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteStartCatID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SiteStartCatID", String.Empty)
            @Html.ValidationMessageFor(model => model.SiteStartCatID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
