@model SelectList
           
@Html.ValidationSummary(true)

    <fieldset class="halfwidth">
        <legend>Edit an existing page</legend>

        <div class="editor-label">
            <label for="CatName">Select page to edit:</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CatID", Model, "-- Select page here --")
        </div>
        <p>
        <button>@Html.ActionLink("Edit", "Edit", "Category", new { id = Model.SelectedValue}, null)</button>
            @Html.ActionLink("Details", "Details", "Category", new { id = Model.SelectedValue }) |
            @Html.ActionLink("Delete", "Delete", "Category", new { id = Model.SelectedValue })
        </p>
    </fieldset>
