@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Area</h2>

@Html.Partial("CategoryPartial")

@Html.ActionLink("Text", "Index", "Text")
@Html.ActionLink("Picture", "Index", "Picture")
@Html.ActionLink("Video", "Index", "Video")
@Html.ActionLink("Link", "Index", "Link")
@Html.ActionLink("Upload", "ImageNew", "Home")
